
useDynLib(DescTools, .registration=TRUE)

export(

"%c%","%like%","%like any%", "%nin%","%overlaps%","AddMonths","Agree","AllDuplicated","aovlDetails","aovlErrorTerms","as.matrix.xtabs","AscToChar","Assocs","Atkinson","AUC","AxisBreak","BartelsRankTest","BinomCI","BinomDiffCI","BinomRatioCI","BinToDec","BoxCox","BoxCoxInv","BoxCoxLambda","BoxedText","BreslowDayTest","BubbleLegend","Canvas","CartToPol","CartToSph","CatTable","CCC","CharToAsc",
"Clockwise","Closest","Coalesce","CourseData",
"CochranArmitageTest",
"CochranQTest","CutAge",
"CoefVar","CoefVarCI","CohenD","CohenKappa","CollapseTable","ColorLegend",
"ColToGray","ColToGrey","ColToHex","ColToHsv","ColToRgb","ColToOpaque","RgbToHex", 
"CombN","CombPairs","CombSet","ConDisPairs","Conf","ConnLines","ContCoef","Contrasts","CorCI",
"CorPolychor","CramerV","CramerVonMisesTest","CronbachAlpha","CutQ","Day","Day<-","dBenf",
"DecToHex","DecToOct","DegToRad","PercentRank",
"Timezone", "SetNames",
"DescToolsOptions","DiffDays360","DivCoef","DivCoefMax","DoCall","DrawArc","DrawBand","DrawBezier","DrawCircle","DrawEllipse","DrawRegPolygon","dRevGumbel","Dummy",
"DunnettTest","DunnTest",
"DurbinWatsonTest","Entropy","Eps","ErrBars","EtaSq","ExpFreq","Factorize","FctArgs","Fibonacci","FindColor","FindCorr","FisherZ","FisherZInv","FixToTable","Flags",
"Format","Frac","Freq", "Freq2D", "GCD","GetCurrPP","GetCurrWrd","GetCurrXL","GetNewPP","GetNewWrd","GetNewXL",
"Gini","GiniSimpson","GiniDeltas","HunterGaston","Gmean","GoodmanKruskalGamma","GoodmanKruskalTau","Gsd","GTest","Herfindahl","HexToCol","HexToDec","HexToRgb","HighLow","Hmean",
"HmsToSec","HmsToMinute","HodgesLehmann",
"HotellingsT2Test","Hour","HuberM","ICC","identify.formula","IdentifyA","Impute","InDots","Interval","IRR","IsDate","IsDichotomous","IsEuclid","IsLeapYear","IsNumeric","IsOdd","IsPrime","IsValidHwnd","IsWeekend","IsWhole","IsZero","JarqueBeraTest",
"KappaM","KendallTauB","KendallW","Keywords","KrippAlpha","Kurt",
"Label","Label<-","Labels","Labels<-","Unit","Unit<-","Lambda","Large","LastDayOfMonth","Lc","LCM","LehmacherTest",
"LeveneTest","as.ym","NALevel",
"LillieTest","lines.Lc","lines.lm","lines.loess","lines.smooth.spline","lines.SmoothSpline","LinScale",
"LOCF","LOF","Logit","LogitInv","LogSt","LogStInv","LsFct","LsObj",
"Mar", "Mgp", "Margins","MeanAD",
"MeanCI","MeanCIn","MeanDiffCI","MeanSE","MedianCI","MHChisqTest","Midx","Minute","MixColor","Mode","Month",
"MosesTest","MoveAvg","MultinomCI","MutInf","Ndec",
"NemenyiTest","Now","OctToDec","OddsRatio","OPR","OrderMixed","Outlier","Overlap",
"PageTest", "PlotProbDist",
"PairApply","ParseFormula","ParseSASDatalines","CorPart","PasswordDlg","pBenf","PearsonTest",
"PercTable", "Mgsub",
"Permn","Phi","plot.bagplot","plot.Conf","plot.Lc","plot.Lclist","plot.PostHocTest","PlotACF","PlotArea","PlotBag","PlotBagPairs",
"PlotBubble","PlotCandlestick","PlotCirc","PlotCorr","ABCCoords","Bg",

"PlotDot","PlotDotCI","PlotFaces","PlotFun","PlotGACF","PlotCashFlow","PlotLinesA","PlotMarDens","PlotMonth","PlotMultiDens","PlotPolar","PlotPyramid","PlotQQ","PlotTernary","PlotTreemap",
"PlotVenn","PlotViolin","PlotWeb","PoissonCI","PolarGrid","PolToCart","PostHocTest","power.chisq.test","PpAddSlide","PpPlot","PpText","Prec","pRevGumbel","Primes","print.Assocs","print.Conf","print.CorPolychor","print.DunnTest","print.Freq","print.HoeffD","print.ICC","print.mtest","print.PostHocTest",
"qBenf","qRevGumbel","qRevGumbelExp","Quarter","RadToDeg","rBenf","Recode","Recycle","RelRisk","Rename","reorder.factor",
"Rev","RgbToCol","RgbToLong","RndPairs","RobScale","Rosenbluth","Rotate","RoundTo","rRevGumbel",
"RunsTest","SampleTwins","RndWord","ScheffeTest","Second","SecToHms",
"XLCurrReg","XLNamedReg",
"Sens","SetAlpha","Fade","ShapiroFranciaTest","SiegelTukeyRank",
"SiegelTukeyTest","KendallTauA","VarTest","PlotBinTree",
"SignTest","SmoothSpline","FindRProfile",
"Skew","Small","SomersDelta","Sort","SortMixed","SpearmanRho","Spec","SphToCart","split.formula","SplitPath","SpreadOut","Stamp","Str","StrAbbr","StrAlign","Strata","StrCap","StrChop","StrCountW","StrDist","StrIsNumeric","StrLeft","StrPad","StrPos","StrRev","StrRight","StrTrim","StrTrunc","StrVal","StuartMaxwellTest","StuartTauC","SysInfo","TextContrastColor","TextToTable","TheilU","Today","ToLong","ToWide","Trim","TschuprowT",
"UncertCoef","ConvUnit",
"Untable", "ToWrd",
"VarCI","VecRot","VecShift","Vigenere","Week","Weekday","Winsorize","WoolfTest","WrdCaption","WrdGoto","WrdPageBreak",
"WrdInsertBookmark","WrdTable","WrdKill","WrdPlot","WrdSaveAs",
"WrdUpdateBookmark","WrdDeleteBookmark",
"XLGetRange","XLGetWorkbook","XLKill","XLView","ToXL","Year","YearDay","YearMonth","YearDays","MonthDays","HmsToMinute",
"YuenTTest","YuleQ","YuleY","ZeroIfNA","NAIfZero","BlankIfNA","NAIfBlank","NAIf","NZ","Zodiac",
"ZTest",
"BinTree", "PlotECDF","Abind","TOne","MaxDigits","XLDateToPOSIXct",
"axTicks.POSIXct", "print.PercTable", "PlotMosaic", "PDFManual", "LongToRgb", "PlotMiss","BreuschGodfreyTest",
"WrdParagraphFormat", "WrdParagraphFormat<-", "WrdFont", "WrdFont<-","WrdStyle", "WrdStyle<-", "WrdTableBorders",
"DigitSum",
"Range","Mean","SD","Var","SDN","VarN", "EX", "VarX","Cov","Cor","Median","MAD","Quantile",
"ORToRelRisk", "Abstract", "ColumnWrap",
"WrdCellRange", "WrdMergeCells", "WrdFormatCells", "Some","PlotFdist", "plot.palette",
"Pal", "Shade", "StrExtract", "Asp", "PlotLog", "axTicks.Date", "LineToUser",
"PseudoR2", "MAE","MSE","RMSE","MAPE","SMAPE","NMSE","NMAE", "BrierScore", "BrierScoreCI", "Unwhich",
"Fmt", "as.fmt", "ModSummary", "TMod", "VIF", "StdCoef", "PartialSD", "HosmerLemeshowTest", "Cstat", "GeomTrans",
"%^%", "TitleRect","BarText","as.CDateFmt", "Phrase", "N","Nf", "BootCI", "VonNeumannTest",
"Append","ConoverTest",

"%()%","%(]%","%)(%","%)[%","%[)%","%[]%","%](%","%][%","%:%","%::%","TTestA",
"DecToBin", "RomanToInt", "TukeyBiweight","PtInPoly",
"JonckheereTerpstraTest", "AndersonDarlingTest", "BarnardTest","HoeffD","Desc",
"CountCompCases", "SplitAt",
"rFrechet","rGumbel","rRevWeibull","rNegWeibull","rGenExtrVal","rGenPareto","rExtrVal","rOrder",
"dFrechet","dGumbel","dRevWeibull","dNegWeibull","dGenExtrVal","dGenPareto","dExtrVal","dOrder",
"pFrechet","pGumbel","pRevWeibull","pNegWeibull","pGenExtrVal","pGenPareto","pExtrVal","pOrder",
"qFrechet","qGumbel","qRevWeibull","qNegWeibull","qGenExtrVal","qGenPareto","qExtrVal",
"dGompertz","pGompertz","qGompertz","rGompertz","GeomSn","UnirootAll", "TwoGroups",
"NPV","NPVFixBond","YTM","PMT","IPMT","PPMT","SLN","DB","SYD","RBAL","Sample","DoBy",
"Dot","Cross","CrossN", "Divisors", "createCOMReference","StrSpell", "WithOptions", "SaveAs", "XLSaveAs","Quot", "CompleteColumns",
"SendOutlookMail", "MultMerge", "ToWrdB", "ToWrdPlot", "WrdBookmark","WrdOpenFile",
"CmToPts", "PtsToCm","PlotPairs", "IQRw", "ImputeKnn", "AllIdentical","CountWorkDays",
"VanWaerdenTest", "RSessionAlive", "RTempdirAlive", "StripAttr", "SetAttr","PlotConDens", "StrSplit", "SplitToCol","SplitToDummy",
"CmykToCmy", "CmyToCmyk", "RgbToCmy", "CmykToRgb", "RevCode", "MADCI","QuantileCI", "BinomCIn",
"GetCalls", "BhapkarTest", "StrExtractBetween", "GenRandGroups", "Rank", "rSum21",
"dTri","pTri","qTri","rTri",
"BrierScoreCI","CstatCI","RSqCI"
)


importFrom("stats", ".nknots.smspl", "IQR", "acf", "addmargins", "anova", "aov", "approx", "as.dist", "as.formula", "binom.test", "chisq.test", "complete.cases", "contr.helmert", "contr.poly", "contr.sum", "contr.treatment", "contrasts", "convolve", "cor", "cov", "cycle", "dbinom", "density", "drop1", "end", "filter", "fisher.test", "formula", "frequency", "friedman.test", "ftable", "integrate", "is.ts", "kruskal.test", "lm", "lm.fit", "loess", "mad", "mantelhaen.test", "mcnemar.test", "model.extract", "model.frame", "model.matrix", "model.response", "model.tables", "na.omit", "na.pass", "optim", "optimise", "optimize", "p.adjust", "pbeta", "pbinom", "pchisq", "pf", "plot.ts", "pnorm", "poisson.test", "ppoints", "ppois", "prcomp", "predict", "pt", "ptukey", "qbeta", "qbinom", "qchisq", "qf", "qnorm", "qt", "qtukey", "quantile", "rnorm", "runif", "sd", "setNames", "smooth", "splinefun", "start", "symnum", "t.test", "terms", "time", "ts",
           "uniroot", "var", "weighted.mean", "weights", "wilcox.test", "xtabs", "as.dendrogram", "dist", "hclust", "order.dendrogram", "smooth.spline","var.test",
           "median", "reorder","AIC", "BIC", "confint", "deviance", "df", "logLik","lm.wfit","profile",
           "coef", "coefficients", "cov2cor", "df.residual","nobs", "vcov","update","relevel","rbeta", "rexp", "qexp","reshape",
           "confint.default", "ecdf", "glm", "reformulate", "aggregate", "dchisq")

importFrom("data.table", "frankv", "frank")

importFrom("graphics", "abline", "arrows", "axTicks", "axis", "barplot", "box", "boxplot", "clip", "close.screen", "dotchart", "frame", "grid", "hist", "identify", "image", "layout", "legend", "lines", "locator", "matlines", "matplot", "mosaicplot", "mtext", "pairs", "par",
           "plot", "plot.design", "plot.new", "plot.window", "points", "polygon", "rect", "screen", "segments", "split.screen", "strheight", "strwidth", "symbols", "text", "title",
           "grconvertX", "grconvertY", "curve")
importFrom("grDevices", "chull", "col2rgb", "colorRampPalette", "colors", "dev.new", "dev.copy", "dev.cur", "dev.flush", "dev.hold", "dev.list", "dev.off", "dev.set", "gray.colors", "heat.colors", "rainbow", "rgb", "rgb2hsv", "xy.coords", "bitmap", "jpeg", "pdf", "png", "postscript", "tiff","adjustcolor", "dev.size")
importFrom("methods", "is", "slot", "slotNames")
importFrom("utils", "capture.output", "combn", "head", "help.search", "ls.str", "lsf.str", "memory.limit", "object.size", "read.table", "select.list", "sessionInfo", "stack", "str", "tail",
           "write.table", "browseURL","getParseData","find", "getAnywhere")
importFrom("boot", "boot", "boot.ci", "corr")
importFrom("mvtnorm", "qmvt", "pmvnorm")
importFrom("rstudioapi", "hasFun")
importFrom("gld", "dgl","pgl","fit.fkml")
importFrom("Rcpp", "evalCpp")

importFrom("MASS", "boxcox", "fractions")
importFrom("expm", "%^%")

importFrom("Exact","exact.test")

importFrom("withr", "with_seed")

importFrom("readxl","read_excel")
importFrom("httr","GET","write_disk", "http_status")
importFrom("cli", "col_red","col_silver","style_bold","col_blue","col_cyan")


S3method(as.Date, ym)
S3method(Month, ym)
S3method(Month, default)
S3method(Year, ym)
S3method(Year, default)
S3method(AddMonths, ym)
S3method(AddMonths, default)
S3method(print, ym)


S3method(Desc, formula)
S3method(Desc, default)
S3method(Desc, data.frame)
S3method(Desc, list)
S3method(Desc, numeric)
S3method(Desc, integer)
S3method(Desc, factor)
S3method(Desc, ts)
S3method(Desc, ordered)
S3method(Desc, character)
S3method(Desc, logical)
S3method(Desc, Date)
S3method(Desc, table)
S3method(Desc, labelled)

S3method(calcDesc, bivar)

S3method(ConoverTest, default)
S3method(ConoverTest, formula)
S3method(DunnTest, default)
S3method(DunnTest, formula)
S3method(NemenyiTest, default)
S3method(NemenyiTest, formula)
S3method(DunnettTest, default)
S3method(DunnettTest, formula)
S3method(VanWaerdenTest, formula)
S3method(VanWaerdenTest, default)
S3method(EtaSq, aovlist)
S3method(EtaSq, lm)
S3method(Format, default)
S3method(Format, matrix)
S3method(Format, data.frame)
S3method(Format, table)
S3method(Format, ftable)

S3method(HotellingsT2Test, default)
S3method(HotellingsT2Test, formula)
S3method(JonckheereTerpstraTest, default)
S3method(JonckheereTerpstraTest, formula)
S3method(LOCF, data.frame)
S3method(LOCF, default)
S3method(LOCF, matrix)

S3method(Lc, default)
S3method(Lc, formula)
S3method(predict, Lc)
S3method(LeveneTest, default)
S3method(LeveneTest, formula)
S3method(LeveneTest, lm)
S3method(MeanDiffCI, default)
S3method(MeanDiffCI, formula)
S3method(MosesTest, default)
S3method(MosesTest, formula)
S3method(PageTest, default)
S3method(PageTest, formula)
S3method(PercTable, default)
S3method(PercTable, formula)
S3method(PercTable, matrix)
S3method(PercTable, table)
S3method(PlotArea, default)
S3method(PlotArea, formula)
S3method(PlotBubble, default)
S3method(PlotBubble, formula)

S3method(PlotMultiDens, default)
S3method(PlotMultiDens, formula)
S3method(PlotViolin, default)
S3method(PlotViolin, formula)
S3method(PostHocTest, aov)
S3method(PostHocTest, matrix)
S3method(PostHocTest, table)
S3method(Rev, default)
S3method(Rev, matrix)
S3method(Rev, table)
S3method(Rev, array)
S3method(Rev, data.frame)
S3method(RunsTest, default)
S3method(RunsTest, formula)
S3method(ScheffeTest, aov)
S3method(ScheffeTest, formula)
S3method(ScheffeTest, default)
S3method(SiegelTukeyTest, default)
S3method(SiegelTukeyTest, formula)
S3method(SignTest, default)
S3method(SignTest, formula)
S3method(Sort, data.frame)
S3method(Sort, default)
S3method(Sort, matrix)
S3method(Sort, table)
S3method(Untable, data.frame)
S3method(Untable, default)
S3method(YuenTTest, default)
S3method(YuenTTest, formula)
S3method(ZTest, default)
S3method(ZTest, formula)
S3method(identify, formula)

S3method(TwoGroups, default)
S3method(TwoGroups, formula)

S3method(lines, Lc)
S3method(lines, lm)
S3method(lines, lmlog)
S3method(lines, loess)
S3method(lines, smooth.spline)

S3method(plot, Lc)
S3method(plot, Lclist)
S3method(plot, PostHocTest)
S3method(plot, bagplot)
S3method(plot, TMod)
S3method(plot, TwoGroups)

S3method(print, Assocs)
S3method(print, DunnTest)
S3method(print, Freq)
S3method(print, HoeffD)
S3method(print, ICC)
S3method(print, PostHocTest)
S3method(print, mtest)
S3method(print, TMod)
S3method(print, TwoGroups)

S3method(reorder, factor)
S3method(split, formula)

S3method(VarTest, default)
S3method(VarTest, formula)

S3method(Conf, default)
S3method(Conf, table)
S3method(Conf, matrix)
S3method(Conf, rpart)
S3method(Conf, multinom)
S3method(Conf, glm)
S3method(Conf, randomForest)
S3method(Conf, svm)
S3method(Conf, regr)
S3method(Conf, lda)
S3method(Conf, qda)

S3method(BrierScoreCI, default)
S3method(BrierScoreCI, glm)

S3method(CstatCI, default)
S3method(CstatCI, glm)

S3method(print, Conf)
S3method(plot, Conf)

S3method(print, CorPolychor)
S3method(as.matrix, xtabs)
S3method(print, PercTable)

S3method(SmoothSpline, default)
S3method(SmoothSpline, formula)
S3method(lines, SmoothSpline)

S3method(DoBy, default)
S3method(DoBy, formula)


S3method(plot, Desc)
S3method(print, Desc)

S3method(print, TOne)
S3method(print, Format)

S3method(ToWrd, default)
S3method(ToWrd, TOne)
S3method(ToWrd, lm)
S3method(ToWrd, character)
S3method(ToWrd, table)
S3method(ToWrd, ftable)
S3method(ToWrd, Freq)
S3method(ToWrd, PercTable)
S3method(ToWrd, matrix)
S3method(ToWrd, data.frame)
S3method(ToWrd, abstract)
S3method(ToWrd, TMod)
S3method(ToWrd, TwoGroups)
S3method(ToWrd, Desc)

S3method(print, abstract)

S3method(CoefVar, default)
S3method(CoefVar, lm)
S3method(CoefVar, aov)

S3method(Some, default)
S3method(Some, data.frame)
S3method(Some, matrix)

S3method(Desc, palette)
S3method(print, palette)
S3method(plot, palette)
S3method(print, fmt)

S3method(Cstat, default)
S3method(Cstat, glm)

S3method(MAE, default)
S3method(MAE, lm)

S3method(MAPE, default)
S3method(MAPE, lm)

S3method(SMAPE, default)
S3method(SMAPE, lm)

S3method(MSE, default)
S3method(MSE, lm)

S3method(RMSE, default)
S3method(RMSE, lm)

S3method(IdentifyA, default)
S3method(IdentifyA, formula)

S3method(ModSummary, glm)
S3method(ModSummary, lm)
S3method(ModSummary, lmrob)
S3method(ModSummary, OddsRatio)

S3method(Mean, default)
S3method(Mean, Freq)

S3method(Var, default)
S3method(Var, Freq)

S3method(Median, Freq)
S3method(Median, default)
S3method(Median, factor)

S3method(Append, default)
S3method(Append, data.frame)
S3method(Append, matrix)
S3method(Append, TOne)


S3method(OddsRatio, default)
S3method(OddsRatio, glm)
S3method(OddsRatio, zeroinfl)
S3method(OddsRatio, multinom)

S3method(ToXL, table)
S3method(ToXL, array)
S3method(ToXL, matrix)
S3method(ToXL, data.frame)
S3method(ToXL, default)

S3method(as.matrix, xlrange)

S3method(print, OddsRatio)
S3method(plot, OddsRatio)

S3method(ORToRelRisk, default)
S3method(ORToRelRisk, OddsRatio)

S3method(print, CountCompCases)

S3method(Sample, default)
S3method(Sample, data.frame)

S3method(Freq2D, default)
S3method(Freq2D, formula)

S3method(BoxedText, default)
S3method(BoxedText, formula)


